<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166915490826-l0c6ith27tq5hn6rn6fmaj9qgtjk7n7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166915490826-l0c6ith27tq5hn6rn6fmaj9qgtjk7n7l</string>
	<key>API_KEY</key>
	<string>AIzaSyC6acxR6z63ZqRrdiV8bIKyxMAjf41E-zc</string>
	<key>GCM_SENDER_ID</key>
	<string>166915490826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zadanetwork.wallet</string>
	<key>PROJECT_ID</key>
	<string>zada-314710</string>
	<key>STORAGE_BUCKET</key>
	<string>zada-314710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166915490826:ios:3bc700bc4705e416750bf3</string>
</dict>
</plist>